# requirements.txt

# main dependencies 
requests
beautifulsoup4
lxml
python-dotenv
typer[all]
rich
pyyaml

# dev dependencies
pytest
pytest-cov
pytest-xdist
flake8
flake8-docstrings
black
mypy
isort
mkdocstrings[python]
pymdown-extensions
zensical; python_version >= "3.10"